[submodule "mesago-centro"]
	path = mesago-centro
	url = git@github.com:MeowCat-Studio/mesago-centro.git
[submodule "mesaga-fonto/telegram-mesaga-fonto"]
	path = mesaga-fonto/telegram-mesaga-fonto
	url = git@github.com:MeowCat-Studio/telegram-mesaga-fonto.git
[submodule "mesaga-fonto/mirai-mesaga-fonto"]
	path = mesaga-fonto/mirai-mesaga-fonto
	url = git@github.com:MeowCat-Studio/mirai-mesaga-fonto.git
[submodule "mesaga-fonto/minecraft/bukkit"]
	path = mesaga-fonto/minecraft/bukkit
	url = git@github.com:MeowCat-Studio/bukkit-mesaga-fonto.git
[submodule "mesaga-fonto/minecraft/sponge"]
	path = mesaga-fonto/minecraft/sponge
	url = git@github.com:MeowCat-Studio/sponge-mesaga-fonto.git
[submodule "mesaga-fonto/minecraft/forge"]
	path = mesaga-fonto/minecraft/forge
	url = git@github.com:MeowCat-Studio/forge-mesaga-fonto.git
[submodule "mesaga-fonto/minecraft/bungeecord"]
	path = mesaga-fonto/minecraft/bungeecord
	url = git@github.com:MeowCat-Studio/bungeecord-mesaga-fonto.git
[submodule "mesaga-fonto/minecraft/farbic"]
	path = mesaga-fonto/minecraft/farbic
	url = git@github.com:MeowCat-Studio/farbic-mesaga-fonto.git
[submodule "mesaga-fonto/discord-mesaga-fonto"]
	path = mesaga-fonto/discord-mesaga-fonto
	url = git@github.com:MeowCat-Studio/discord-mesaga-fonto.git